{% extends 'base.html.twig' %}

{% block title %}Consulta de Clientes{% endblock %}

{% block body %}
    <h1>Consulta de Clientes</h1>
    <hr />

    <div class="row">
        <div class="col-md-12 form-group">
            <a href="{{ path('clientes_create') }}" class="btn btn-primary pull-right">Novo Cliente</a>
        </div>
    </div>

    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.id }}</td>
                <td>
                    <a href="{{ path('clientes_view', {'id': cliente.id}) }}" title="Visualizar detalhes deste registro">
                        {{ cliente.nome }}
                    </a>
                </td>
                <td>{{ cliente.email }}</td>
                <td>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" class="text-center">Nenhum registro encontrado.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}