{% extends 'base.html.twig' %}

{% block title %}Visualização de Clientes{% endblock %}

{% block body %}
    <h1>Visualizando Cliente <small>{{ cliente.nome }}</small></h1>
    <hr />

    <table class="table table-striped">
        <tbody>
            <tr>
                <th colspan="2" class="text-center"><h3>Dados do Cliente</h3></th>
            </tr>
            <tr>
                <th>ID</th>
                <td>{{ cliente.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ cliente.nome }}</td>
            </tr>
            <tr>
                <th>E-mail</th>
                <td>{{ cliente.email }}</td>
            </tr>
            <tr>
                <th>Telefone</th>
                <td>{{ cliente.telefone }}</td>
            </tr>
            <tr>
                <th colspan="2" class="text-center"><h3>Endereço</h3></th>
            </tr>
            <tr>
                <th>Logradouro</th>
                <td>{{ cliente.endereco.rua }}, nº {{ cliente.endereco.numero }}</td>
            </tr>
            <tr>
                <th>Bairro</th>
                <td>{{ cliente.endereco.bairro }}</td>
            </tr>
            <tr>
                <th colspan="2" class="text-center"><h3>Animais</h3></th>
            </tr>
            <tr>
                <td>
                    <ul>
                    {% for animal in cliente.animal %}
                        <li><a href="{{ path('animais_view', {id: animal.id}) }}">{{ animal.nome }}</a></li>
                    {% else %}
                        <li>Nenhum animal para este cliente.</li>
                    {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

{% endblock %}
